.card {
  border-radius: 8px;
  width: 300px;
  height: 250px;
  text-align: center;
  color: white;
  margin-left: 20px;
  margin-top: 30px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, .5)
}

.card:hover {
     box-shadow:
    0 0 0.1vw  0.3vw #fff7f7,   
    0 0 0.4vw  0.4vw #FFE81F, 
    0 0   1.5vw  0.3vw #faee7c,
    inset 0 0 1.5vw  0.3vw rgb(250, 238, 124),
    inset 0 0 0.4vw  0.1vw #FFE81F,
    inset 0 0 0.5vw  0.1vw #fff7f7;
    background-color: rgba(0, 0, 0, .9)
}

h1 {
  padding-top: 50px;
}

.favorite-img {
  height: 40px;
  width: 40px;
}