body {
  background-image: url('https://66.media.tumblr.com/2bdbea4a2bf1a62c3d61bef2660fd078/tumblr_o055obE6kC1tzs8cco5_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* https://66.media.tumblr.com/2bdbea4a2bf1a62c3d61bef2660fd078/tumblr_o055obE6kC1tzs8cco5_1280.jpg */
  /* https://images-na.ssl-images-amazon.com/images/I/81q6ttJTzPL._SL1500_.jpg */
  /* https://66.media.tumblr.com/9a59ca40cda06458fdef8d12994c6656/tumblr_o055obE6kC1tzs8cco2_1280.jpg */
}

header {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.5) */
}

.nav {
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #FFE81F,
    0 0 80px #FFE81F,
    0 0 90px #FFE81F,
    0 0 100px #FFE81F,
    0 0 150px #FFE81F;
}

.character-icon {
  width:  10vw;
  height: 10vh;
}
